<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496824247668-d6uuqjv2elvi8vr0khr79l83011gasuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496824247668-d6uuqjv2elvi8vr0khr79l83011gasuo</string>
	<key>API_KEY</key>
	<string>AIzaSyAFhQ6m5gPMI_OZkA1E84e5--mFcgCZS1o</string>
	<key>GCM_SENDER_ID</key>
	<string>496824247668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jetart.JChat</string>
	<key>PROJECT_ID</key>
	<string>jchat-7c509</string>
	<key>STORAGE_BUCKET</key>
	<string>jchat-7c509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496824247668:ios:397b5a820aed4df764b821</string>
	<key>DATABASE_URL</key>
	<string>https://jchat-7c509.firebaseio.com</string>
</dict>
</plist>